<html>
<body>


<style>
.button {
 FONT-SIZE: 12pt;; WIDTH: 100pt; COLOR:white; HEIGHT: 30px; BACKGROUND-COLOR:rgb(95,161,56);font-family:'Times New Roman’ ; border-radius: 8px
}
</style>

    <table border="0" align="center">

    <tr>

      
      <td><input type=button class="button" value="+ Material">
      <td></td><td></td><td></td><td></td><td></td><td></td> <td></td>
      <td><input type=button class="button" value="+ Sub-Assembly">

       
    
    </tr>

    </table>


     <font style="line-height:10%;">
     <p style="font-family:arial;color:black;font-size:25px;"> Assembly</p>
     <p3 style="font-family:arial;color:LightBlue;font-size:40px;"> ——— </p3>
     </font>

</body>
</html>