$sidebar-width: 350px;
$padding: 40px;

body>div {
	padding: $padding;
}

#assembly-head {
    width: calc(100% - #{$sidebar-width});
    margin-bottom: 20px;
	button {
		color: white;
		background-color: #696;
	}
}

#assembly-tail {
    width: calc(100% - #{$sidebar-width});
    button {
        float: right;
        color: white;
        background-color: #696;
    }
}

#assembly {
	width: calc(100% - #{$sidebar-width});
	.collection {
		width: 100%;
	}

    li {
        height: 56px;
        line-height: 36px;

        &:hover {
            background-color: #f5f5f5;
        }

        button {
            margin-left: 5px;
            float: right;
            vertical-align: middle;
        }
    }

    .del-button {
        background-color: #b33;
    }

    .proc-button {
        background-color: #669;
        color: white;
    }
}

#select-panel {
	background-color: #f5f5f5;
	visibility: hidden;
    position: fixed;
    float: right;
    top: 0;
    bottom: 0;
    right: 0;
    width: $sidebar-width;

    border-left: solid black 1px;

    .actions {
    	padding: $padding;
    	position: absolute;
    	bottom: 0;
    }

    hr {
        border-top: solid black 1px;
        margin-left: -$padding;
        margin-right: -$padding;
    }

    #material-properties {
        visibility: hidden;

        #amount {
            width: 50%;
            display: inline;
        }

        #amount-unit {
            width: 20%;
        }
    }
}

#assembly-panel {
	background-color: #f5f5f5;
	visibility: hidden;
    position: fixed;
    float: right;
    top: 0;
    bottom: 0;
    right: 0;
    width: $sidebar-width;

    border-left: solid black 1px;

    .actions {
    	padding: $padding;
    	position: absolute;
    	bottom: 0;
    }
}

#assembly-name {
	width: calc($sidebar-width - 20);
}